.modal_pa{
    color:rgb(2, 2, 2);
}

#madera_modal table td{
    word-break: break-all !important;
  }

#servicios_tres{
    padding-right: 15%;
}

#servicios_dos{
    padding-left: 15%;
}
.titulo_modal{

    color:rgb(2, 2, 2);
}


.trabajosDone{
    @media (min-width: 992px){
        height: 2550px  !important;
        min-height: 1500px;
    }
}

.serviciosrounded{
    @media (min-width: 992px){
        height: 800px  !important;
        min-height: 1500px;
    }
    transform-style: preserve-3d;
}

#ultimoDiv{
    background-color:rgb(255, 255, 255);
}

#ultimoDiv2{
    background-color:rgb(255, 255, 255);
}

#ultimoDiv3{    background-color:rgb(255, 255, 255);
}

#footerDiv{
    background-color:rgb(253, 253, 253);
    margin: 0px;
    padding: 0px;
}
@media (min-width: 992px){
.imagen4{

        height: 535px ;
    }

}

.zoom-in{cursor:zoom-in;}

.alias {cursor:alias;}
