.modal_pa{
    color:rgb(2, 2, 2);
}

#madera_modal table td{
    word-break: break-all !important;
  }


.titulo_modal{

    color:rgb(2, 2, 2);
}




.serviciosrounded{
    @media (min-width: 992px){
        height: 800px  !important;
        min-height: 1500px;
    }
    transform-style: preserve-3d;
}

#ultimoDiv{
    background-color:rgb(255, 255, 255);
}

#ultimoDiv2{
    background-color:rgb(255, 255, 255);
}

#ultimoDiv3{    background-color:rgb(255, 255, 255);
}

#footerDiv{
    background-color:rgb(253, 253, 253);
    margin: 0px;
    padding: 0px;
}


.zoom-in{cursor:zoom-in;}

.alias {cursor:alias;}


@media (min-width: 992px){
    .imagen4{

        height: 455px ;
    }
    .maxiQS{
        height: 501px;
        margin-top: 83px;
        margin-bottom:41px;
    }
#servicios_tres{
    padding-right: 15%;
}

#servicios_dos{
    padding-left: 15%;
}
}

@media(max-width: 540px){
    .miniQS{
        height: 901px;
        margin-top: 83px;
        margin-bottom:41px;
    }

    .imagen4{

        height: 305px ;
        width: 290px;
        text-align: center;
        margin-left: 15%;
    }
}


@media (min-width:541) and (max-width:991){
    .miniQS{
        height: 901px;
        margin-top: 83px;
        margin-bottom:41px;
    }

    .imagen4{

        height: 305px ;
        width: 250px;
        min-height: 304;
        max-height: 306;
        min-width: 249;
        max-width: 251;
        
    }
}

@media(min-height:635) and (max-height:780){
    .lapview{
        margin-top:350px;
  
    }
}
